<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Braah+One&family=Bungee&family=Caveat&family=Libre+Baskerville&family=Lobster&family=Mulish:wght@300;400&family=Pacifico&family=Poppins:wght@400;700&family=Righteous&family=Russo+One&family=VT323&family=Vina+Sans&family=Yanone+Kaffeesatz:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/content.css" />
  </head>
  <body>
    <h1 class="heading">TO-DO LIST</h1>

    <h2 class="quote">"Plan your work, then work your plan"</h2>
    <div class="index-head">
      <h3 class="index-title">Choose a work to Add your Tasks</h3>
      <div class="b-contain">
        <a href="/homework" class="home">Home Work</a>
        <a href="/officework" class="work">Office Work</a>
      </div>
    </div>
    <img src="/images/list.png" alt="img" class="png">
    <%- include("partials/footer.ejs") %>
  </body>
</html>
